<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Registro</title>
<meta charset="utf-8">
<meta name="keywords" content="chat, social, amigos">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0;">
<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">


<link href="https://fonts.googleapis.com/css?family=Rajdhani&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet", href="css/home.css"></link>
</head>
<body>
    <header class="header">
        <div class="header-container logo-nav-container">
            <h1>API</h1>
            <nav class="navigation">
                <ul>
                    <li><a href="/signin" class="material-icons clickable" title="Signin">account_circle</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="header-block"></div>

    <main class="main">
        <div class="form-decoration"></div>  
        <div class="form">
            <h1 class="welcome">Signup</h1>
            <div class="field-container">
                <span class="field">User Name:</span>
                <br>
                <input id="username-register" class="field border" type="text" required></input>
                <br>
                <span class="field">Email:</span>
                <br>
                <input id="email-register" class="field border" type="text" required></input>
                <br>
                <span class="field">Password:</span>
                <br>
                <input id="password-register" class="field border" type="password" required></input>
                <br>
                <input type="submit" id="signup-button" class="button" value="Signup" />
            </div>
        </div>
        
    </main>

    <section class="r-section r-section-p r-section-w">
      
    </section>

    <script src="js/ws.js"></script>
    <script src="js/auth.js"></script>
    
</body>
</html>